<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.orangegangsters.lollipin.lib">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application android:allowBackup="true" android:label="@string/app_name" >

    </application>

</manifest>
